<nav class="navbar">

  <div class="logo">
    SHOE STORE
  </div>

 <ul class="menu">

  <li
    (click)="filtroGenero='Hombre'"
  >
    Hombre
  </li>

  <li
    (click)="filtroGenero='Mujer'"
  >
    Mujer
  </li>

  <li
    (click)="filtroGenero=''"
  >
    Todos
  </li>

</ul>

  <div
    class="cart"
    (click)="abrirCarrito()"
  >
    🛒 {{ cantidadCarrito }}
  </div>

</nav>

<section class="hero">

  <div class="hero-text">

    <span class="subtitle">
      PREMIUM STREETWEAR
    </span>

    <h1>
      Sneakers <br>
      Premium
    </h1>

    <p>
      Descubre las mejores marcas y encuentra
      el estilo perfecto para cada outfit.
    </p>

    <div class="hero-buttons">

      <button
        class="primary-btn"
        (click)="irAProductos()"
      >
        Explorar colección
      </button>

      <button class="secondary-btn">
        Ver marcas
      </button>

    </div>

  </div>

  <div class="hero-image">

    <img
      src="https://images.unsplash.com/photo-1542291026-7eec264c27ff"
      alt="Sneaker"
    >

  </div>

</section>

<section
  class="products-section"
  #productosSection
>

  <div class="section-title">

    <h2>
      Nuestra colección
    </h2>

    <p>
      Productos premium disponibles
    </p>

  </div>

  <div class="products-grid">

   @for (
  producto of obtenerProductosFiltrados();
  track producto.id
  ) 
{

      <div
  class="product-card"
  (click)="abrirProducto(producto)"
>

        <img
          [src]="producto.imagen"
          [alt]="producto.nombre"
        >

        <div class="product-info">

          <span class="brand">
            {{ producto.marca.nombre }}
          </span>

          <h3>
            {{ producto.nombre }}
          </h3>

          <p class="description">
            {{ producto.descripcion }}
          </p>

          <div class="price-row">

            <span class="price">
              $ {{ producto.precio }}
            </span>

            <button
              (click)="agregarAlCarrito(producto)"
            >
              Agregar
            </button>

          </div>

        </div>

      </div>

    }

  </div>

</section>

@if (carritoAbierto) {

<div class="cart-sidebar">

  <div class="cart-header">

    <h2>
      Mi carrito
    </h2>

    <button
      class="close-btn"
      (click)="abrirCarrito()"
    >
      ✕
    </button>

  </div>

  <div class="cart-items">

    @for (
      item of carritoService.obtenerCarrito();
      track item.producto.id
    ) {

      <div class="cart-item">

        <img
          [src]="item.producto.imagen"
          [alt]="item.producto.nombre"
        >

        <div class="cart-info">

          <h4>
            {{ item.producto.nombre }}
          </h4>

          <p>
            Cantidad:
            {{ item.cantidad }}
          </p>

          <span>
            $
            {{
              item.producto.precio
              * item.cantidad
            }}
          </span>

        </div>

      </div>

    }

  </div>

  <div class="cart-footer">

    <h3>
      Total:
      $ {{ calcularTotal() }}
    </h3>

    <button
      class="buy-btn"
      (click)="comprarPorWhatsapp()"
    >
      Comprar por WhatsApp
    </button>

  </div>

</div>

}

@if (modalAbierto && productoSeleccionado) {

<div class="product-modal-overlay">

  <div class="product-modal">

    <button
      class="close-modal"
      (click)="cerrarProducto()"
    >
      ✕
    </button>

    <img
      [src]="productoSeleccionado.imagen"
      [alt]="productoSeleccionado.nombre"
    >

    <h2>
      {{ productoSeleccionado.nombre }}
    </h2>

    <p class="modal-brand">
      {{ productoSeleccionado.marca.nombre }}
    </p>

    <p class="modal-description">
      {{ productoSeleccionado.descripcion }}
    </p>

    <h3>
      $ {{ productoSeleccionado.precio }}
    </h3>

    <button
      class="buy-btn"
      (click)="agregarAlCarrito(productoSeleccionado)"
    >
      Agregar al carrito
    </button>

  </div>

</div>

}